@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #E6F0FF;
}

:fullscreen {
  background-color: black; /* Light mod arka plan */
  color: white; /* Light mod yazı rengi */
}

:fullscreen button{
    background-color: white;
    color: black;
}